{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
{#        {{ form_row(form.field_name) }}#}
        <div>
            <button type="submit">
                Submit
            </button>
        </div>
    {{ form_end(form) }}
{% endblock %}

