<table>
    <thead>
        <th>ID</th>
        <th>NAME</th>
        <th>SKU</th>
        <th>PRICE</th>
        <th></th>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.sku }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <a href="">

                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
