{% extends 'base.html.twig' %}

{% block body %}
    {% for success in app.flashes('success') %}
        {{ success }}
    {% endfor %}

    {{ form_start(form) }}
    <div>
        {{ form_errors(form) }}
    </div>

    <div>
        <button type="submit">
            Update
        </button>
    </div>
    {{ form_end(form) }}
{% endblock %}

